/build

# Seems counter intuitive but this have some tmp files copied from the core project.
# Only the sub package android contains the code for the andorid app.
src/main/java*
!src/main/java**/android